<h3>Create a Link</h3>
<form action="/link" method="post">
  Link Title:<input type="text" name="title"><br>
  URL:<input type="text" name="url"><br>
  Description:<input type="text" name="description"><br>
  <button class="button round" type="submit" formmethod="post" formaction="/link">Submit Link</button>
</form>